In [ ]:
import requests
from bs4 import BeautifulSoup 
import re
import time

pref_code = [46] #都道府県コード
block_code = [1008] #地域コード
place_name = ["小田原"]

In [ ]:
# DBファイルを保存するためのファイルパス

import sqlite3

# Github
path = '/content/'

# DBファイル名
db_name = 'github.sqlite'

# DBに接続する（指定したDBファイル存在しない場合は，新規に作成される）
con = sqlite3.connect(path + db_name)
cur = conn.cursor()

# テーブルが存在しない場合は作成
cur.execute('''CREATE TABLE IF NOT EXISTS weather
                (date TEXT, precipitation REAL, temp_avg REAL, temp_high REAL, temp_low REAL, humidity_avg REAL, humidity_min REAL, sunshine REAL)''')

# DBへの接続を閉じる
con.commit()
con.close()

In [ ]:
url = "https://www.data.jma.go.jp/obd/stats/etrn/view/daily_a1.php?prec_no=%s&block_no%s&year=%s&month=%s&day=17&view=p1"

# 取ったデータをfloat型に変える(データが取れなかった場合、気象庁は"/"を埋め込んでいるため0に変える)
def str2float(str):
  try:
    return float(str)
  except:
    return 0.0

In [ ]:
# DBに接続
con = sqlite3.connect(path + db_name)
cur = con.cursor()

# 対象期間の1行を取得し、DBに格納
for row in rows:
    data = row.findAll('td')

    rowData = [
        str(year) + "/" + str(month) + "/" + str(data[0].string),
        str2float(data[3].string),
        str2float(data[6].string),
        str2float(data[7].string),
        str2float(data[8].string),
        str2float(data[9].string),
        str2float(data[10].string),
        str2float(data[16].string)
    ]

    # データベースへの挿入
    cur.execute("INSERT INTO weather (date, precipitation, temp_avg, temp_high, temp_low, humidity_avg, humidity_min, sunshine)VALUES (?, ?, ?, ?, ?, ?, ?, ?)", rowData)

con.commit()
conn.close()

return rowData